In [2]:

#dplyr:R programlama dilinde,veri analizi ve özetlemeler amacıyla kullanılan güçlü bir pakettir

In [3]:
# Veri oluşturma
data <- data.frame(
  isim = c("Ali", "Ayşe", "Fatma", "Mehmet", "Ahmet", "Cemre", "Deniz", "Ezgi", "Furkan", "Gizem"),
  yaş = c(34, 23, 45, 27, 30, 22, 29, 41, 24, 36),
  cinsiyet = c("Erkek", "Kadın", "Kadın", "Erkek", "Erkek", "Kadın", "Erkek", "Kadın", "Erkek", "Kadın"),
  departman = c("Satış", "Pazarlama", "Pazarlama", "Satış", "Muhasebe", "Satış", "Pazarlama", "Satış", "Muhasebe", "Pazarlama"),
  maaş = c(4000, 4500, 5400, 3900, 4700, 3800, 5000, 6100, 4200, 4800)
)

In [12]:
#Yaşı 30 üzeri olanları al
filtered_data=filter(data,yaş>30)
print(filtered_data)

   isim yaş cinsiyet departman maaş
1   Ali  34    Erkek     Satış 4000
2 Fatma  45    Kadın Pazarlama 5400
3  Ezgi  41    Kadın     Satış 6100
4 Gizem  36    Kadın Pazarlama 4800

In [13]:
#Sütun seçme
selected_data=select(data,isim,maaş)
print(selected_data)

     isim maaş
1     Ali 4000
2    Ayşe 4500
3   Fatma 5400
4  Mehmet 3900
5   Ahmet 4700
6   Cemre 3800
7   Deniz 5000
8    Ezgi 6100
9  Furkan 4200
10  Gizem 4800

In [14]:
#Sıralama
arranged_data=arrange(data,desc(maaş))
print(arranged_data)

     isim yaş cinsiyet departman maaş
1    Ezgi  41    Kadın     Satış 6100
2   Fatma  45    Kadın Pazarlama 5400
3   Deniz  29    Erkek Pazarlama 5000
4   Gizem  36    Kadın Pazarlama 4800
5   Ahmet  30    Erkek  Muhasebe 4700
6    Ayşe  23    Kadın Pazarlama 4500
7  Furkan  24    Erkek  Muhasebe 4200
8     Ali  34    Erkek     Satış 4000
9  Mehmet  27    Erkek     Satış 3900
10  Cemre  22    Kadın     Satış 3800

In [15]:
#Departmana göre gruplama ve ortalama maaş hesaplama
group_data=group_by(data,departman)
summary_data=summarize(group_data,ort_maas=mean(maaş))

print(group_data)
print(summary_data)

# A tibble: 10 × 5
# Groups:   departman [3]
   isim     yaş cinsiyet departman  maaş
   <chr>  <dbl> <chr>    <chr>     <dbl>
 1 Ali       34 Erkek    Satış      4000
 2 Ayşe      23 Kadın    Pazarlama  4500
 3 Fatma     45 Kadın    Pazarlama  5400
 4 Mehmet    27 Erkek    Satış      3900
 5 Ahmet     30 Erkek    Muhasebe   4700
 6 Cemre     22 Kadın    Satış      3800
 7 Deniz     29 Erkek    Pazarlama  5000
 8 Ezgi      41 Kadın    Satış      6100
 9 Furkan    24 Erkek    Muhasebe   4200
10 Gizem     36 Kadın    Pazarlama  4800
# A tibble: 3 × 2
  departman ort_maas
  <chr>        <dbl>
1 Muhasebe      4450
2 Pazarlama     4925
3 Satış         4450

In [16]:
#stringr paketi:metin verilerini işlemek icindir.Metin manipülasyonları icin uygundur
library(stringr)

text="Merhaba R programlama"
str_length(text)

[1] 21

In [17]:
#Bir karakter dizisinden bir bölümü çıkarın
str_sub(text,1,3)

[1] "Mer"

In [18]:
#Karakter büyüt küçült
str_to_lower(text)
str_to_upper(text)

[1] "merhaba r programlama"

[1] "MERHABA R PROGRAMLAMA"

In [19]:
yazi="R dili veri analizi icin kullanılır"
str_replace(yazi,"dili","programlama dili")

[1] "R programlama dili veri analizi icin kullanılır"

In [21]:
#Karakter kontrolü yapalım
str_detect(text,"R")

[1] TRUE

In [22]:
#Baş ve sonlarında boşluk kaldırır
str_trim(text)

[1] "Merhaba R programlama"

In [24]:
#Lubridate paketi:tarih,saat,verilerini kolayca islemek icin kullanılır
library(lubridate)

tarih="2024-11-12"
ymd(tarih)

Attaching package: ‘lubridate’


The following objects are masked from ‘package:base’:

    date, intersect, setdiff, union

[1] "2024-11-12"

In [25]:
#Geçerli tarih ve anı alalım
today()
now()

[1] "2024-11-12"

[1] "2024-11-12 08:40:09 UTC"

In [27]:
#Tarih verisinden yıl ay ve günü alır
year(tarih)
month(tarih)
day(tarih)

[1] 2024

[1] 11

[1] 12

In [28]:
tarih_saat <- ymd_hms("2023-11-12 14:35:45")
hour(tarih_saat)    # Çıktı: 14
minute(tarih_saat)  # Çıktı: 35
second(tarih_saat)  # Çıktı: 45

[1] 14

[1] 35

[1] 45